<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.stagecoach.stagecoachbus" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="com.stagecoach.stagecoachbus.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.stagecoach.stagecoachbus.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:fullBackupContent="@xml/appsflyer_backup_rules" android:hasFragileUserData="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.stagecoach.stagecoachbus.SCApplication" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:supportsRtl="false" android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="com.stagecoach.stagecoachbus.views.start.SplashScreenActivity" android:screenOrientation="portrait" android:theme="@style/LoadingTheme" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="stagecoach.onelink.me" android:pathPrefix="/2899670060" android:scheme="https"/>
                <data android:host="stagecoach.onelink.me" android:pathPrefix="/2899670060" android:scheme="http"/>
                <data android:host="stagecoach-ct.onelink.me" android:pathPrefix="/2899670060" android:scheme="https"/>
                <data android:host="stagecoach-ct.onelink.me" android:pathPrefix="/2899670060" android:scheme="http"/>
                <data android:host="stagecoach.onelink.me" android:pathPrefix="/Y1X3" android:scheme="https"/>
                <data android:host="stagecoach-ct.onelink.me" android:pathPrefix="/Y1X3" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.stagecoach.stagecoachbus.views.account.LoginRegisterActivity" android:parentActivityName="com.stagecoach.stagecoachbus.views.home.TabActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.stagecoach.stagecoachbus.views.home.TabActivity"/>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="com.stagecoach.stagecoachbus.views.tutorial.TutorialActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.stagecoach.stagecoachbus.views.home.TabActivity"/>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="com.stagecoach.stagecoachbus.views.home.TabActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.picker.search.LocationPickerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.home.MyLocationPickerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.home.HomeLocationPickerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.home.WorkLocationPickerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.picker.daytimepicker.DateTimePickerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.picker.search.SearchUseMyCurrentLocationDisabledActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.picker.area.AreaPickerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.buy.braintreepayments.SCBraintreeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.home.mytickets.TransferActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.buy.braintreepayments.BraintreeGooglePayActivity" android:theme="@style/bt_transparent_activity"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.menu.LostPropertyDatePickerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.start.PermissionsRequiredActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.stagecoach.stagecoachbus.views.buy.TicketsActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.stagecoach.stagecoachbus.views.menu.MenuActivity" android:parentActivityName="com.stagecoach.stagecoachbus.views.home.TabActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.stagecoach.stagecoachbus.views.home.TabActivity"/>
        </activity>
        <activity android:label="@string/basket_title" android:launchMode="singleTask" android:name="com.stagecoach.stagecoachbus.views.buy.MyBasketActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:label="@string/suggested_routes" android:launchMode="singleTask" android:name="com.stagecoach.stagecoachbus.views.planner.JourneyActivity" android:parentActivityName="com.stagecoach.stagecoachbus.views.home.TabActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.stagecoach.stagecoachbus.views.home.TabActivity"/>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.stagecoach.stagecoachbus.braintree"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="com.stagecoach.stagecoachbus.views.notification.HeadsUpNotificationService"/>
        <service android:enabled="@bool/show_get_of_alert" android:name="com.stagecoach.stagecoachbus.intentservices.GeofenceService"/>
        <service android:exported="false" android:name="com.stagecoach.stagecoachbus.logic.SCFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.appsflyer.SingleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="false" android:exported="false" android:name="com.stagecoach.stagecoachbus.logic.alerts.RebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.stagecoach.stagecoachbus.logic.TicketActivationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF"/>
                <action android:name="com.stagecoach.SELF_WAKE_ALARM"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.ACTION_DATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAY6loBEUAfWCgtt8Cx_BqfLe502ks-6oE"/>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:name="com.braintreepayments.api.internal.AnalyticsIntentService"/>
        <activity android:name="com.braintreepayments.api.ThreeDSecureActivity"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.tagmanager.TagManagerService"/>
        <activity android:exported="true" android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:noHistory="true">
            <intent-filter>
                <data android:scheme="tagmanager.c.com.stagecoach.stagecoachbus"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <activity android:enabled="false" android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService"/>
        <provider android:authorities="com.stagecoach.stagecoachbus.workmanager-init" android:directBootAware="false" android:exported="false" android:multiprocess="true" android:name="androidx.work.impl.WorkManagerInitializer"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation" android:name="io.card.payment.CardIOActivity"/>
        <activity android:name="io.card.payment.DataEntryActivity"/>
        <provider android:authorities="com.stagecoach.stagecoachbus.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.stagecoach.stagecoachbus.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.stagecoach.stagecoachbus.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <activity android:name="com.braintreepayments.api.GooglePaymentActivity" android:theme="@style/bt_transparent_activity"/>
    </application>
</manifest>